.product-div{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.add-to-cart{
    padding: 4px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
}
.add-to-cart:hover {
    cursor: pointer;
    background-color: #ccc;
    border-color: #a7a7a7;
  }