.nav-bar{
    background-color: black;
    display: flex;
    height: 44px;
}
.nav-bar-div{
    margin-left: 650px;
    margin-right: 500px;
}
.nav-bar-div a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin: 0 30px 0 30px;
}
.nav-bar-div a:hover,
.nav-bar-div a.active {
    text-decoration: underline;
}

.nav-bar a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 35px;
}
